{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "semi": [2, "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": ["<enabled>", "never"],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "no-underscore-dangle": 0
  }
}
